* {
  box-sizing: border-box;
}

body {
  padding: 15px;
  background-image: url(https://images.pexels.com/photos/20317707/pexels-photo-20317707.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    display: flex;
    flex-wrap: wrap;
      /* flex-direction: column; */
      align-items: center;
    /* background-color: white; */
    text-align: center;
    font-family: 'Roboto', sans-serif;
    

}

.userCard {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* margin: 10px; */
  /* padding: 20px; */
  /* flex-basis: 350px; */
  /* flex-grow: 1; */
  min-width: 380px;
  min-height: 160px;
    
    background: linear-gradient(to bottom, rgba(49,52,91,255) 80%, white 20%);

  /* background-color: blue; */
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
        /* opacity: 0.2; */


}

.userCardBg {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bellBtn {
  align-self: flex-start;
    margin: 20px 0 0 20px;
    text-decoration: none;

}

.postBtn {
  align-self: flex-end;
  /* margin-top: -22px; */
  margin: -22px 20px 0 0;
}

.userName {
    margin-top: 25px;
    font-weight: 500;
  font-size: 18px;
  margin-bottom: 4px;
  color: white;
}

.userSocial {
    /* font-weight: 400; */
  font-size: 14px;
  color: rgba(126,129,184,255);
  margin-bottom: 12px;
}

.userImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  
}

.featherBtn {
    align-self: flex-end;

}

.cardFooter {
    /* background-color: white; */


    /* padding: 50px; */
    margin-top: auto;
    align-self: stretch;
    /* min-height: 100px; */
    

}

.socialInfo {
    display: flex;
  justify-content: center;
  /* gap: 10px; */
  /* flex-wrap: wrap; */
}
