* {
  box-sizing: border-box;
}

body {
  padding: 15px;
  background-image: url(https://images.pexels.com/photos/20317707/pexels-photo-20317707.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    display: flex;
    flex-wrap: wrap;
      /* flex-direction: column; */
      align-items: center;
    /* background-color: white; */
    text-align: center;
    

}

.userCard {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* margin: 10px; */
  /* padding: 20px; */
  /* flex-basis: 350px; */
  /* flex-grow: 1; */
  min-width: 300px;
  min-height: 400px;
    
  background-color: blue;
    border-radius: 20px;
        /* opacity: 0.2; */


}

.userCardBg {
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bellBtn {
  align-self: flex-start;
    margin: 20px 0 0 20px;


}

.postBtn {
  align-self: flex-end;
  /* margin-top: -22px; */
  margin: -22px 20px 0 0;
}

.userImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.featherBtn {
    align-self: flex-end;

}

.cardFooter {
    background-color: white;
    /* padding: 25px; */
    margin-top: auto;
    align-self: stretch;
    

}

.socialInfo {
    display: flex;
  justify-content: center;
  /* gap: 10px; */
  /* flex-wrap: wrap; */
}
